.wrap-slider {
    -webkit-box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
}
.bunner {
    position: relative;
}

.bunnerImg {
    width: 100%;
    height: auto;
}

.bunner-content {
    position: absolute;
    top: 100px;
    left: 120px;

    .bunner-title {
        margin-bottom: 15px;
        max-width: 280px;
        font-family: "PlayfairDisplay";
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
        color: #3C3C3C;
    }
    
    .bunner-descr {
        margin-bottom: 20px;
        font-size: 16px;
        color: #3C3C3C;
    }

    .button-slider {
        justify-content: center;
        align-items: center;
        font-family: "Roboto-Condensed";
        font-size: 12px;
        letter-spacing: 0.04em;
        width: 163px;
        height: 45px;
        
        background-color: #fff;
        color: #414141;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s ease-in;
    }

    .button-slider:hover {
        background-color: #414141;
        color: #fff;
        transition: 0.3s ease-in;
    }
}

.slick-slide {
    margin-bottom: -4px;
 }

