.catalog-wrap {
    justify-content: space-between;

    .container-wrap {
        margin-top: 0;
    }

    .title {
        display: none;
    }

    .promotion-block {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
    }
}