@import './components/header.scss';
@import './components/slider.scss';
@import './components/promotion.scss';
@import './components/cart.scss';
@import './components/footer.scss';
@import './components/menu.scss';
@import './components/pages/contacts.scss';
@import './components/pages/basket.scss';
